body.{
    background: purple;
    color:white;
    margin: 0px;
    font-family: "Itim", cursive 
    margin-bottom: 100px;
}

.chamada{
    background: purple;
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;

}